<div class="row mt-1" *ngFor="let item of transactions; let i = index">
  <div class="col col-1">
    {{i + 1}}
  </div>
  <div class="col col-3">
    {{item.description}}
  </div>
  <div class="col col-3">
          <span class="badge badge-warning">
            {{item.category}}
          </span>
  </div>
  <div class="col col-2">
    <div class="badge"
         [class.badge-danger]="item.amount<0"
         [class.badge-success]="item.amount>0"
    >
      {{item.amount}}
    </div>
  </div>
  <div class="col col-3">
    {{item.date * 1000 | date:'dd/MM/yyyy'}}
  </div>
</div>
